* {
  padding: 0;
  margin: 0;
  font-family: roboto;
  font-size: 20px;
  /*box-sizing: border-box;*/
}
body {
  /*background-color: #076951;
  background-color: #f7f7f7;*/
}
input:focus {
  outline: none;
}
header {
  padding: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #e7e7e7;
}
.wrapper {
  max-width: 1300px;
  margin: auto;
}
.header_wrapper {
  max-width: 95%;
  display: flex;
  justify-content: space-between;
}
.search_div {
  border: 1px solid #e7e7e7;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}
.search_div:hover {
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13),
    0px 0px 2.9px rgba(0, 0, 0, 0.11);
}
.search_div input {
  width: 89%;
  border: none;
  font-size: 16px;
}
#main_search_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}
#main_search_btn i {
  color: rgb(207, 87, 87);
}
.header_flex_item {
  display: flex;
  justify-content: space-between;
}
.header_first_flex_item {
  width: 50%;
  min-width: 580px;
}
#header_logo {
  display: flex;
}
#header_logo img {
  width: 40px;
  height: auto;
}
#header_logo div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-weight: bolder;
  padding-top: 10px;
  color: rgb(194, 0, 0);
}
#header_search_and_submenu {
  width: 80%;
}
#header_search_and_submenu ul {
  padding: 15px;
}
#header_search_and_submenu li {
  color: #646464;
  font-size: 11px;
  padding: 15px 10px;
  margin-right: 10px;
  display: inline;
  cursor: pointer;
}
#header_search_and_submenu li:hover {
  border-bottom: 3px solid rgb(161, 135, 135);
}
#header_search_and_submenu li.active {
  color: black;
  border-bottom: 3px solid rgb(207, 87, 87);
  font-weight: bolder;
}
