* {
  padding: 0;
  margin: 0;
  font-family: roboto;
  font-size: 20px;
  /*box-sizing: border-box;*/
}
.pop_up_page_cover {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00000096;
  z-index: 3;
}
.login_form_container {
  display: none;
  position: fixed;
  z-index: 4;
  background-color: #eee;
  right: 0;
  width: 400px;
  height: 100vh;
}
#show_login_btn,
#page_profile_avatar_and_menu {
  position: absolute;
  right: 30px;
  top: 30px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
#page_profile_avatar_and_menu {
  top: 15px;
  display: none;
}
#page_profile_avatar_and_menu:hover #top_right_pop_up_menu {
  display: block;
}
#top_profile_photo,
#top_popup_profile_photo {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  overflow: hidden;
  background-color: #c2c2c2;
}
#top_popup_profile_photo {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
#top_popup_profile_photo i {
  display: none;
  margin-top: 5px;
  font-size: 40px;
}
#top_popup_profile_photo img {
  display: block;
  width: 40px;
  height: auto;
}
#top_profile_photo i {
  display: none;
  margin-top: 5px;
  font-size: 30px;
}
#top_profile_photo img {
  display: block;
  width: 30px;
  height: auto;
}
#top_right_pop_up_menu {
  z-index: 2;
  display: none;
  position: absolute;
  left: -170px;
  top: 30px;
  min-width: 220px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13),
    0px 0px 2.9px rgba(0, 0, 0, 0.11);
  border-radius: 3px;
}
#go_to_profile_btn {
  padding: 10px 0;
  text-align: center;
  margin: 10px 5px;
  background-color: #097c69;
  border-radius: 3px;
  color: white;
  font-size: 13px;
}
#top_right_menu_list {
  padding: 5px;
  font-size: 11px;
  color: #9e9e9e;
  border-bottom: 1px solid #d4d3d3;
}
#top_right_menu_list p,
#top_right_menu_list span {
  padding: 10px;
  font-size: 13px !important;
  font-weight: initial;
  color: #707070;
}
#top_right_menu_list h1 {
  font-size: 13px;
  color: #4d4d4d;
}
#hide_login_btn {
  color: #9e9e9e;
  font-size: 22px;
  cursor: pointer;
  font-weight: lighter;
}
#login_from_area {
  width: 90%;
  min-height: 250px;
  margin: auto;
  margin-top: 15px;
  border-radius: 3px;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13),
    0px 0px 2.9px rgba(0, 0, 0, 0.11);
  background-color: white;
}
#login_area_title_section {
  padding: 20px 0;
  border-bottom: 1px solid #d4d3d3;
}
#login_area_inputs {
  padding: 20px;
}
#login_area_inputs p {
  font-size: 13px;
  margin-bottom: 5px;
  color: #707070;
  font-weight: bolder;
}
#login_area_inputs input {
  margin-bottom: 15px;
  width: 100%;
  font-size: 13px;
  padding: 10px 0;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #acacac;
}
#login_area_inputs input:hover {
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.171),
    0px 0px 2.9px rgba(0, 0, 0, 0.178);
}
#login_area_login_btn {
  font-size: 13px;
  padding: 10px;
  text-align: center;
  font-weight: bolder;
  /*background-color: #949393;*/
  background-color: #097c69;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}
#login_area_login_btn:hover {
  /*background-color: #097c69;*/
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.253),
    0px 0px 2.9px rgba(0, 0, 0, 0.247);
}
body {
  /*background-color: #076951;*/
  background-color: #f7f7f7;
}
input:focus {
  outline: none;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
header {
  padding: 20px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../pictures/NDCMembers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  height: 150px;
}
.header_content_container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search_area {
  position: relative;
  width: 55%;
  margin: auto;
}
.search_box {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  height: 35px;
  border-radius: 3px;
  margin: auto;
}
.search_box input {
  border: none;
  font-size: 13px;
  font-weight: bolder;
  width: 80%;
}
.search_box i {
  color: darkblue;
  font-size: 20px;
}
.seach_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search_box_suggestions {
  display: none;
  position: absolute;
  width: 100%;
  margin: auto;
  height: 260px;
  margin-top: -5px;
  border-top: 1px solid #d4d3d3;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13),
    0px 0px 2.9px rgba(0, 0, 0, 0.11);
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}
.header_settings_area {
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.each_setting_btn_container {
  padding: 10px 0;
  width: 18%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}
.each_setting_btn_container:hover {
  background-color: rgba(255, 255, 255, 0.459);
  color: black !important;
}
.each_setting_btn_container:hover div {
  background: none !important;
}
.each_setting_btn {
  width: 60px;
}
.each_setting_btn p {
  text-align: center;
  width: 60px;
  margin-top: 20px;
  color: white;
  font-size: 11px;
}
.each_setting_btn div {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header_showcase_div {
  height: 190px;
  display: flex;
  justify-content: space-between;
}
.top_links {
  margin-top: -15px;
  width: 100%;
  height: 35px;
}
.top_links li {
  font-size: 11px;
  font-weight: bolder;
  color: rgb(124, 124, 124);
  display: inline;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.top_links li:hover {
  background-color: #eee;
}
.top_links i {
  margin-right: 5px;
  /*color: #076951;*/
}
.top_links_submenu {
  display: none;
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13),
    0px 0px 2.9px rgba(0, 0, 0, 0.11);
  background-color: white;
}
#help_and_support_top_link_submenu {
  right: -45px;
}
.show_case_photo {
  /*box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);*/
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13),
    0px 0px 2.9px rgba(0, 0, 0, 0.11);
  width: 32%;
  height: 140%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.show_case_photo img {
  width: 100%;
  height: 70%;
  background-color: #eee;
  object-fit: cover;
}
.show_case_photo_desc {
  height: 30%;
  width: 100%;
  background-color: rgb(202, 87, 87);
}

.main_menu {
  margin: auto;
}
.main_menu_itemset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main_menu_item {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: #ffffff;
  border-radius: 4px;
  width: 19.5%;
  height: 270px;
}
.gallery_item {
  width: 49.5%;
}
.news_item {
  width: 39.5%;
}
.gallery_item {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.photo_gallery_nav {
  background-color: #0000008f;
  padding: 10px;
  color: white;
  font-size: 13px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.photo_gallery_nav p {
  font-size: 11px;
}
.photo_gallery_nav h1 {
  font-size: 13px;
}
.main_menu_item .published_event_photo {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.small_options_div {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  position: absolute;
  border-radius: 4px;
  background-color: white;
  width: 90px;
  display: none;
}
.small_options_div p {
  cursor: pointer;
  font-size: 11px;
  margin: 10px 5px;
  color: #949393;
}
.small_options_div i {
  margin-right: 5px;
}
#other_stuff_container {
  background: linear-gradient(160deg, rgb(153, 223, 255), rgb(1, 34, 56));
}
#other_stuff_container_info {
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.233);
}
#other_stuff_container_info p {
  font-size: 11px;
  color: white;
  margin-bottom: 5px;
}
.chart_bar {
  overflow: hidden;
  margin-bottom: 7px;
  border-radius: 5px;
  background-color: rgb(76, 164, 199);
  width: 100%;
}
#other_stuff_container_info span {
  letter-spacing: 1px;
  color: rgb(237, 253, 17);
  font-size: 12px;
}
.chart_bar div {
  height: 4px !important;
  background-color: rgb(216, 200, 55);
}
#latest_news_display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../pictures/Achemcmpng.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#latest_news_buttons {
  height: 170px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}
#lastes_news_prev_and_next_btn {
  display: flex;
  justify-content: space-between;
}
#lastes_news_prev_and_next_btn i {
  padding: 10px;
  background-color: #0a0a0a86;
  color: white;
}
#latest_news_titles {
  padding: 20px;
  color: white;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#latest_news_titles h1 {
  color: white;
  font-size: 18px;
}
#latest_news_titles span {
  font-size: 11px;
  color: white;
}
#latest_news_media_icon {
  width: 12px;
  height: auto;
  margin-right: 5px;
}
.published_event_photo {
  height: 50%;
  background-color: darkgrey;
  background-image: url("../pictures/NDCatMenshiaplce.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#current_event_one .published_event_photo {
  background-image: url("../pictures/ndcevnt.jpg");
}
#current_event_three .published_event_photo {
  background-image: url("../pictures/ndcevnt3.jpg");
}
#current_event_two .published_event_photo {
  background-image: url("../pictures/ndcevnt2.jpg");
}
#current_event_four .published_event_photo {
  background-image: url("../pictures/ndcevnt4.jpg");
}
.published_event_description {
  height: 50%;
  padding: 10px;
}
.published_event_description h1 {
  font-size: 13px;
  color: rgb(88, 88, 88);
  line-height: 20px;
}
.published_event_description p {
  font-size: 11px;
  color: #9e9e9e;
  margin-bottom: 10px;
}
.published_event_description .news_posted_by {
  font-size: 12px;
  color: #9e9e9e;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.event_post_person {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
  color: #9e9e9e;
}
.event_post_person_pic {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
}
.event_post_person_pic img {
  width: 20px;
  height: auto;
}
.event_post_menu_icon {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event_post_menu_icon .small_options_div {
  margin-top: 75px;
}
.event_post_menu_icon i {
  cursor: pointer;
  font-size: 13px;
}
