* {
  padding: 0;
  margin: 0;
  font-family: roboto;
  font-size: 20px;
  /*box-sizing: border-box;*/
}
body {
  /*background-color: #076951;*/
  background-color: #f7f7f7;
}
.wrapper {
  max-width: 1300px;
  margin: auto;
}
header {
  padding: 20px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../pictures/NDCMembers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  height: 200px;
}
.header_content_container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search_box {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 55%;
  background-color: white;
  height: 45px;
  border-radius: 5px;
  margin: auto;
}
.search_box input {
  border: none;
  font-size: 15px;
  font-weight: bolder;
  width: 80%;
}
.search_box i {
  color: darkblue;
  font-size: 20px;
}
.seach_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_settings_area {
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 45%;
}
.each_setting_btn_container {
  padding: 15px 0;
  width: 18%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
.each_setting_btn_container:hover {
  background-color: rgba(255, 255, 255, 0.459);
  color: black !important;
}
.each_setting_btn {
  width: 80px;
}
.each_setting_btn p {
  text-align: center;
  width: 80px;
  margin-top: 20px;
  color: white;
  font-size: 13px;
}
.each_setting_btn div {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header_showcase_div {
  height: 190px;
  display: flex;
  justify-content: space-between;
}
.top_links {
  margin-top: -5px;
  width: 100%;
  height: 45px;
}
.top_links li {
  font-size: 13px;
  font-weight: bolder;
  color: rgb(124, 124, 124);
  display: inline;
  padding: 20px;
  cursor: pointer;
}
.top_links li:hover {
  background-color: #eee;
}
.top_links i {
  margin-right: 5px;
  /*color: #076951;*/
}
.show_case_photo {
  /*box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);*/
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13),
    0px 0px 2.9px rgba(0, 0, 0, 0.11);
  width: 32%;
  height: 140%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.show_case_photo img {
  width: 100%;
  height: 70%;
  background-color: #eee;
  object-fit: cover;
}
.show_case_photo_desc {
  height: 30%;
  width: 100%;
  background-color: rgb(202, 87, 87);
}

.main_menu {
  margin: auto;
}
.main_menu_itemset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main_menu_item {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  background-color: #ffffff;
  border-radius: 4px;
  width: 24%;
  height: 340px;
  overflow: hidden;
}
#other_stuff_container {
  background: linear-gradient(160deg, rgb(192, 233, 252), rgb(10, 53, 82));
}
#latest_news_display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../pictures/Achemcmpng.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#latest_news_buttons {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}
#lastes_news_prev_and_next_btn {
  display: flex;
  justify-content: space-between;
}
#lastes_news_prev_and_next_btn i {
  padding: 10px;
  background-color: #0a0a0ab0;
  color: white;
}
#latest_news_titles {
  padding: 20px;
  color: white;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#latest_news_titles h1 {
  color: white;
}
#latest_news_titles span {
  font-size: 13px;
  color: white;
}
#latest_news_media_icon {
  width: 12px;
  height: auto;
  margin-right: 5px;
}
.published_events {
}
.published_event_photo {
  height: 60%;
  background-color: darkgrey;
  background-image: url("../pictures/NDCatMenshiaplce.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#current_event_one .published_event_photo {
  background-image: url("../pictures/ndcevnt.jpg");
}
#current_event_three .published_event_photo {
  background-image: url("../pictures/ndcevnt3.jpg");
}
#current_event_two .published_event_photo {
  background-image: url("../pictures/ndcevnt2.jpg");
}
#current_event_four .published_event_photo {
  background-image: url("../pictures/ndcevnt4.jpg");
}
.published_event_description {
  height: 40%;
  padding: 10px;
}
.published_event_description h1 {
  font-size: 15px;
  color: rgb(88, 88, 88);
  line-height: 20px;
}
.published_event_description p {
  font-size: 12px;
  color: #9e9e9e;
  margin-bottom: 10px;
}
.published_event_description .news_posted_by {
  font-size: 12px;
  color: #9e9e9e;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.event_post_person {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 12px;
  color: #9e9e9e;
}
.event_post_person_pic {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
}
.event_post_person_pic img {
  width: 20px;
  height: auto;
}
.event_post_menu_icon {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event_post_menu_icon i {
  font-size: 13px;
}
